.drr {
    padding-top: 30px;
    margin-left: 30px;
    overflow: auto;

 
    /* overflow-y: scroll; */
    /* white-space: nowrap; */
   
    


}
.flex-container {
    display: flex;
    
}
*{
    width:100%;
   
}

.first,
.second,
.address1,
.address2,
.address3,
.address4,
.code,
.email,
.aemail,
.mno,
.amno,
.pfile,
.mnon,
.amnon,
.mnon1,
.amnon1,
.code1 {
    flex: 45%;
}

#fname112,
#sname112,
#line1112,
#line2223,
#line3334,
#line4445,
#mail112,
#amail112,
#num122,
#num1112,
#num2223,
#lno112,
#spc112,
#doc1112 {
    width: 90%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
}

#zcode112,
#dsign112 {
    width: 45%;
    height: 25px;
    border-radius: 5px;
    border: 1px solid black;
}

input[type="file"] {
    font-size: 17px;
}

.cd {
    text-align: center;
}

#sub112:hover {
    box-shadow: inset 150px 0 0 grey;
    transition: 0.3s ease-out;
    color: black;
}

#sub112 {
    margin-top:10px;
    width: 150px;
    background-color: rgb(8, 8, 75);
    border: none;
    border-radius: 5px;
    color: aliceblue;
    box-shadow: inset 0 0 0 0 grey;
    transition: 0.3s ease-out;
}

.su {
    display: flex;
    justify-content: center;
}


body {
    font-family: "Times New Roman", Times, serif;
}



@media (max-width: 1370px) {
    .form-container i {
        margin-left: 31%;
    }
}

@media (max-width: 1250px) {
    .form-container i {
        margin-left: 30%;
    }


}

@media (max-width: 980px) {
    .form-container i {
        margin-left: 26%;
    }
}

@media (max-width: 800px) {
    .flex-container {
        display: block;
    }

    #zcode112,
    #dsign112 {
        width: 90%;
    }

    .form-container i {
        margin-left: 55%;
    }


}

@media (max-width: 750px) {
    .form-container i {
        margin-left: 50%;
    }
}

@media (max-width: 650px) {
    .form-container i {
        margin-left: 45%;
    }
}

@media (max-width: 580px) {
    .form-container i {
        margin-left: 40%;
    }
}

@media (max-width: 550px) {
    .form-container i {
        display: none;
    }
}
